# 19CSE305 ML - Pandas Exercise Questions - 23rd Aug 2023

### Task 1. Go to https://www.kaggle.com/openfoodfacts/world-food-facts/data

### Task 2. Download the dataset to your computer and unzip it.

### Task 3. Use the tsv file and assign it to a dataframe called food

### Task 4. See the first 5 entries

### Task 5. What is the number of observations in the dataset?

### Task 6. What is the number of columns in the dataset?

### Task 7. Print the name of all the columns.

### Task 8. What is the name of 105th column?

### Task 9. What is the type of the observations of the 105th column?

### Task 10. How is the dataset indexed?

### Task 11. What is the product name of the 19th observation?

### Task 12. How many columns in the dataset tend to have null values?

### Task 13. Find the number of null values present under each column?

### Task 14. Create a dictionary with keys to be column names in the dataset and values to number of null values under each column. Print the dictionary by iterating through its elements using a for loop.

### Task 15. Display the values associated with all columns from row 108 to 208?